body {
    color: #40514E;
    margin: 0px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    color: #66BFBF;
    line-height: 2;
    margin: 0px;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 7rem;
}

h2 {
    color: #66BFBF;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
}

h3 {
    color: #11999E;
    font-family: 'Ubuntu', sans-serif;
}

span {
    font-family: 'Space Mono', monospace;
}

p {
    font-family: 'Space Mono', monospace;
    line-height: 2;
}

hr{
    border-style: dotted none none;
    color: #a7bbbb;
    width: 5%;
    border-width: 10px;
    margin: 75px auto;
}

a {
    color: #11999E;
    font-family: 'Space Mono', monospace;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.circularPic {
    border-radius: 100%;
    width: 200px;
}

.pygif {
    width: 200px;
    float: left;
    margin-right: 30px;
}

.gifs {
    width: 200px;
    float: right;
    margin-left: 30px;
}

.top-container {
    position: relative;
    background-color: #E4F9F5;
    padding: 100px 0px 0px;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0px 20px;
}

.pro {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    top: 5%;
    right: 30%;
}

.bottom-cloud {
    position: absolute;
    left: 30%;
}

.intro-para {
    font-size: 1.7rem;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.intro {
    width: 30%;
    margin: auto;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 10px;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }